  @font-face {
    font-family: Lato-BlackItalic;
    src: url("/font/Lato-BlackItalic.ttf") format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin: auto;
    font-family: Lato-BlackItalic;
    line-height: 1.6;
    background-color: #f0f0f0;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    transition: 0.4s ease;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}
  
  header .logo img {
    width: 150px;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .banner {
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
  }
  
  .banner h1 {
    font-size: 3rem;
  }
  
  .banner p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .btn-banner {
    background-color: #0058db;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .modelos {
    text-align: center;
    padding: 50px 0;
    color: #fff;
  }
  
  .modelos h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .modelos-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .modelo {
    background-color: rgb(8, 8, 8, 0.8);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modelo img {
    width: 100%;
    height: auto;
  }
  
  .modelo h3 {
    font-size: 1.5rem;
    margin: 15px 0;
  }
  
  .modelo p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .btn-comprar {
    background-color: #0058db;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .comprar {
    text-align: center;
    padding: 50px 20px;
    background-color: #0e0e0e;
    color: #fff;
  }

  .comprar form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
  }
  
  .comprar form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .comprar form input,
  .comprar form select {
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(8, 8, 8);
  }
  
  .footer {
    background-color: #080808;
    padding: 30px 50px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-column {
    margin-bottom: 20px;
  }
  .footer-column h4 {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .footer-column a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .footer-column a:hover {
    text-decoration: underline;
  }
  .footer-social {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  .footer-social img {
    width: 20px;
    height: 20px;
  }
  .footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }
  .footer a {
    color: white;
  }
  